@CHARSET "UTF-8";
.custome_bg {
	background:#1aae88;
}

body{
	background:#FFFFFF;
	color: #404040;
}

.sidemenu{
	width:100%;
	margin-bottom: 5px; 
    padding: 2px 20px; 
    background: #e6e6e6;
    width: 300px;
    border-radius: 15px; 
}
/* border: 1px solid #a1a1a1; */
.palletey{
	height: 300px;
	border: 1px gray; 
	border-radius: 15px; 
	background-color:#e6e6e6; 
}

.divStyle{
	border: 1px gray; 
	border-radius: 15px; 
	background-color:#e6e6e6; 
	height: 520px;	
}

#frow{
	margin: 10px 0px 10px 0px; 
	border:  1px gray; 
	border-radius: 15px; 
	background-color:#e6e6e6;
}

.box{
    margin: 5px;
    width: auto;
    padding:2px;
    border:2px solid #ccc;
    border-radius: 10px;
    display:inline-block;
}

a.boxclose{
    float:right;
    margin-top:-10px;
    margin-right:-8px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    background: #605F61;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 8px 3px;       
}

.boxclose:before {
    content: "×";
}

#consolelog{
    background: #000000;
    overflow-y: scroll;
    color:#FFFFFF;
    margin: 0 5px 0 5px;
    border: 1px gray; 
    border-radius: 5px; 
    height: 80%;
}

.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.ui-helper-hidden-accessible{
	display: none;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.ptext{
    margin-left: 3px;
}

#fileViewer .modal-dialog  {
	width:90%;
	height:90%;
	overflow-x: auto;
	overflow-y: auto;
}

#results{
	margin: 15px 30px 10px 30px;
}